@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

* {
    font-family: 'News Cycle', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 3rem 9%;
}


.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: #4F1515;
    color: #4F1515;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 3rem;
}


.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 9%;
    background: white;
    line-height: 2.5;
}

.header .logo {
    font-family: 'Notable', sans-serif;
    font-size: 4.5rem;
    font-weight: bolder;
    color: #4F1515;
}
.logo img {
    width: 60px;   
    height: auto;  
    margin-right: 10px;  
}


.header .navbar ul {
    list-style: none;
}

.header .navbar ul li {
    position: relative;
    float: left;
}

.header .navbar ul li:hover ul {
    display: block;
}

.header .navbar ul li a {
    padding: 2rem;
    display: block;
    font-size: 1.7rem;
    color: #4F1515;
}


.header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 20rem;
    background: #4F1515;
    display: none;
}

.header .navbar ul li ul li {
    width: 100%;
}

#menu-btn {
    cursor: pointer;
    color: #4F1515;
    font-size: 2.5rem;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
    background-color: #4F1515;
    padding: 0; 
}

.home .content {
    flex: 1 1 20%; 
    padding: 3rem; 
    color: white;
    font-size: 1.5rem;
}

.home .image {
    flex: 1 1 30%;
}

.home .image img {
    width: 100%;
    display: block;
    object-fit: cover;
}






body.classes-page {
    background-color: #4F1515;
}
.classes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}
.classes .box .photo {
    width: 100%;       
    max-width: 35rem;   
    height: 50rem;     
    overflow: hidden;   
    border: 15px solid white;
    border-radius: 1rem; 
}
.classes .box .photo img {
    width: 100%;       
    height: 100%;      
    object-fit: cover; 
}
.classes .box .content p {
    font-size: 1.5rem;
    color: white;
    font-family: 'News Cycle', sans-serif;
}
.classes .box .content h3 {
    color: white;
    line-height: 2;
    margin-top: 1.5rem;
    font-size: 2rem;
    font-family: 'News Cycle', sans-serif;
}


.teachers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}
.teachers .box .photo {
    width: 100%;       
    max-width: 35rem;   
    height: 50rem;     
    overflow: hidden;  
    border: 15px solid #4F1515; 
    border-radius: 1rem; 
}
.teachers .box .photo img {
    width: 100%;       
    height: 100%;      
    object-fit: cover; 
}
.teachers .box .content p {
    font-size: 1.5rem;
    color: black;
    font-family: 'News Cycle', sans-serif;
}
.teachers .box .content h3 {
    color: black;
    line-height: 2;
    margin-top: 1.5rem;
    font-size: 2rem;
    font-family: 'News Cycle', sans-serif;
}






.footer-start .box-container .box {
    flex: 0 0 25rem; 
}


.footer-start .box-container .box h3 {
    font-size: 2.2rem;
    padding: 1rem 0;
    color: #4F1515;
}

.footer-start .box-container .box a {
    font-family: 'News Cycle', sans-serif;
    display: block;
    font-size: 2.4rem;
    padding: 1rem 0;
    color: #4F1515;
}


body.start-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.start-page {
    background-color: #4F1515;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.start-page .header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    background: white;
    line-height: 2.5;
    z-index: 1000;
}

.content2 {
    width: 90%;             
    max-width: 700px;       
    margin: 3rem auto;     
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.content2 {
    flex: 1; 
}
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.signup-form label {
    font-size: 1.6rem;
    font-weight: bold;
}

.signup-form input,
.signup-form select {
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.signup-form input:focus,
.signup-form select:focus {
    outline: none;
    border-color: #4F1515;
}

.signup-form .button1 {
    padding: 1rem;
    font-size: 1.7rem;
    background: #4F1515;
    color: #fff;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.2s;
}

.signup-form .button1:hover {
    background: #9e657c;
}

.footer-start {
    background: white;
    width: 100%;
    padding: 2rem 0;      
}

.footer-start .box-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}




@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
        cursor: pointer;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #4F1515;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .header .navbar.active {
        max-height: 500px; 
    }

    .header .navbar ul li {
        width: 100%;
    }

    .header .navbar ul li a {
        padding: 1rem;
        color: white;
        display: block;
        font-size: 1.8rem;
    }
}


@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 500px) {
    .content2 {
        width: 95%;
        padding: 1.5rem;
    }
}










